body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.grid-spacing {
  margin: 0.5em;
}

.bold-text {
  font-weight: 600;
  font-size: 1.5rem;
}
